
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: linear-gradient(to right bottom, #f2cb05, #fa8c2e, #e1544e, #ad3061, #692461, #561d55, #441648, #330f3b, #470831, #540724, #5a1315, #592202);;
  --accent: var(--white);

  margin: 0;
  padding: 0;
  color: var(--accent);
  background-image: url(https://lh3.googleusercontent.com/2flfNB7n0632oUpBC6QAqgNJkOsClLHwG3PKTPHMF_WC3SHoFKGMc8k8A9ayrBjzr1E=w2400);
  overflow: hidden;
}

* {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}

h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}

p {
  margin: 0 0 30px 0;
  font-size: 18px;
}


html {
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0;
}

.parallaxImg {
  margin: 0;
  color: var(--accent);
  left: calc(50% + 130px);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  z-index: 1;
}

.progress {
  height: 1.3px;
  background: #DBA24E;
  margin: 50px auto;
  width: 500px;
}

line {
  stroke-width: 1.5px;
  stroke-linecap: round;
  fill: transparent;
}

@media (max-width: 720px) {
  .parallaxImg {
    left: unset;
    bottom: 8vh;
    line-height: 1;
    text-align: center;
  }
}